---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15z7EeJ1hgInCYPRThgEmVRR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_NBqYrblkJ00RufJgPAUFLPdA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15z7EeJ1hgInCYPRThgEmVRR",
          "created": 1430836884,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15z7EeJ1hgInCYPRdIjOlFDI",
              "object": "charge",
              "created": 1430836884,
              "livemode": false,
              "paid": true,
              "status": "paid",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15z7EcJ1hgInCYPRiVbHI3FQ",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2016,
                "fingerprint": "WOcHlI8o4CO1E025",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6BUDgcCU5AF483"
              },
              "captured": true,
              "card": {
                "id": "card_15z7EcJ1hgInCYPRiVbHI3FQ",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2016,
                "fingerprint": "WOcHlI8o4CO1E025",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6BUDgcCU5AF483"
              },
              "balance_transaction": "txn_15z7EeJ1hgInCYPRp7wTIUvZ",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_6BUDgcCU5AF483",
              "invoice": "in_15z7EeJ1hgInCYPRNMM6CorE",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "loveflix basic plan",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15z7EeJ1hgInCYPRdIjOlFDI/refunds",
                "data": []
              },
              "statement_description": "loveflix basic plan"
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_6BUDouMqeV2OkW",
          "api_version": "2014-08-04"
        }
  recorded_at: Sat, 09 May 2015 18:45:53 GMT
recorded_with: VCR 2.9.3
