---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15vFKUJ1hgInCYPR8jdKi0Yu&plan=basic-plan&email=jacquelyn.johns%40klein.org
    headers:
      Authorization:
      - Bearer sk_test_NBqYrblkJ00RufJgPAUFLPdA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 24 Apr 2015 22:31:28 GMT
recorded_with: VCR 2.9.3
