---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: currency=usd&amount=999&card=tok_15gHoWJ1hgInCYPRaTFgl5hO
    headers:
      Authorization:
      - Bearer sk_test_NBqYrblkJ00RufJgPAUFLPdA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15gHoXJ1hgInCYPR6pOiw15N"
          }
        }
  recorded_at: Sat, 14 Mar 2015 16:08:38 GMT
recorded_with: VCR 2.9.3
