---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15vFKJJ1hgInCYPR7YlDIjCZ&plan=basic-plan&email=mozelle%40jones.biz
    headers:
      Authorization:
      - Bearer sk_test_NBqYrblkJ00RufJgPAUFLPdA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1429914677,
          "id": "cus_67UI7LwgP6oFEn",
          "livemode": false,
          "description": null,
          "email": "mozelle@jones.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_67UI7LwgP6oFEn/subscriptions",
            "data": [
              {
                "id": "sub_67UIDdJ71BOuhm",
                "plan": {
                  "interval": "month",
                  "name": "Basic Plan",
                  "created": 1429903326,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basic-plan",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "loveflix basic plan",
                  "statement_description": "loveflix basic plan"
                },
                "object": "subscription",
                "start": 1429914677,
                "status": "active",
                "customer": "cus_67UI7LwgP6oFEn",
                "cancel_at_period_end": false,
                "current_period_start": 1429914677,
                "current_period_end": 1432506677,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_67UI7LwgP6oFEn/cards",
            "data": [
              {
                "id": "card_15vFKJJ1hgInCYPRm6ZnsFwU",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2017,
                "fingerprint": "WOcHlI8o4CO1E025",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_67UI7LwgP6oFEn"
              }
            ]
          },
          "default_card": "card_15vFKJJ1hgInCYPRm6ZnsFwU",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_67UI7LwgP6oFEn/sources",
            "data": [
              {
                "id": "card_15vFKJJ1hgInCYPRm6ZnsFwU",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2017,
                "fingerprint": "WOcHlI8o4CO1E025",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_67UI7LwgP6oFEn"
              }
            ]
          },
          "default_source": "card_15vFKJJ1hgInCYPRm6ZnsFwU"
        }
  recorded_at: Fri, 24 Apr 2015 22:31:17 GMT
recorded_with: VCR 2.9.3
