---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=2&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_NBqYrblkJ00RufJgPAUFLPdA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15S7UNJ1hgInCYPRV6CYMHzB",
          "livemode": false,
          "created": 1422973035,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15S7UNJ1hgInCYPROnG1fZIM",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "NRgIIP1tcqqJgHqv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "79.54.187.124"
        }
  recorded_at: Tue, 03 Feb 2015 14:17:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: currency=usd&amount=300&card=tok_15S7UNJ1hgInCYPRV6CYMHzB
    headers:
      Authorization:
      - Bearer sk_test_NBqYrblkJ00RufJgPAUFLPdA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15S7UOJ1hgInCYPRXyAmzxbu"
          }
        }
  recorded_at: Tue, 03 Feb 2015 14:17:16 GMT
recorded_with: VCR 2.9.3
