%h1 Password Reset

%p Dear #{@user.name.split(' ')[0]},

%p
	You requested to reset your password, simply follow the link below:
	%br #{link_to "#{edit_password_reset_url(@user.password_reset)}", edit_password_reset_url(@user.password_reset)}

%p
	With love,
	%br	The LoveFlix team