<h1>Welcome To LoveFlix</h1>
<h3>The Video Platform that You Will Always Love</h3>
Dear <%= @user.name.split(' ')[0] %>,

Welcome to LoveFlix, we really appreciate to have you as one of our valued customers and can't wait to delight you with our services.<br>

We invite you to <%= link_to "sign in", sign_in_url %> and start browsing videos.<br>
And simply answer this email to let us know if there is anything we can do for you.<br>
<br>
With love,<br>
The LoveFlix team