%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        %ul.nav.nav-tabs
          %li
            = link_to "Recent Payments", admin_payments_path
          %li{ class: "active" }
            = link_to "Add a New Video", "#"
        = @video ? (render 'new_admin_video_form') : (nil)