%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        %ul.nav.nav-tabs
          %li
            %a(href="#") Recent Payments
          %li{ class: @video && "active" }
            %a(href="#") Add a New Video
        = @video ? (render 'new_admin_video_form') : (nil)