---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_160e7rJ1hgInCYPRDzf1fz2f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_NBqYrblkJ00RufJgPAUFLPdA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_160e7rJ1hgInCYPRDzf1fz2f",
          "created": 1431201643,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_160e7qJ1hgInCYPRtNuOITvd",
              "object": "charge",
              "created": 1431201642,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_160e7JJ1hgInCYPRxa6NzpHL",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2017,
                "fingerprint": "TeLNW9B5KxdXUNP4",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6CE7g1yTd2Ohev"
              },
              "captured": false,
              "card": {
                "id": "card_160e7JJ1hgInCYPRxa6NzpHL",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2017,
                "fingerprint": "TeLNW9B5KxdXUNP4",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6CE7g1yTd2Ohev"
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_6CE7g1yTd2Ohev",
              "invoice": null,
              "description": "",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_160e7qJ1hgInCYPRtNuOITvd/refunds",
                "data": []
              },
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_6D4Gi1uRUNI4Bi",
          "api_version": "2014-08-04"
        }
  recorded_at: Sat, 09 May 2015 20:31:55 GMT
recorded_with: VCR 2.9.3
